<div class="row">
    <div class="col-md-1-12 text-center">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary" [routerLink]="['nuevo']" routerLinkActive="active">Nuevo</button>
            <button type="button" class="btn btn-outline-primary" [routerLink]="['editar']" routerLinkActive="active">Editar</button>
            <button type="button" class="btn btn-outline-primary" [routerLink]="['detalle']" routerLinkActive="active">Detalle</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>